<form autocomplete="off">
  {{#with defaultButtonColor}}
    <div class="form-group">
      <label>{{localize this.name}}</label>

      <div class="form-fields">
        <select name="defaultButtonColor" data-dtype="String">
          {{#select this.value}}
            {{#each this.choices as |name k|}}
              <option value="{{k}}">{{localize name}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>

      <p class="notes">{{localize this.hint}}</p>
    </div>
  {{/with}}

  {{#with customColor}}
    <div class="form-group">
      <label>{{localize this.name}}</label>

      <div class="form-fields">
        {{colorPicker name="customColor" value=this.value}}
      </div>

      <p class="notes">{{localize this.hint}}</p>
    </div>
  {{/with}}

  <button type="submit"><i class="fas fa-save"></i> {{localize "SETTINGS.Save"}}</button>
</form>