<fieldset>
  <legend>{{localize "adv-reminder.Messages"}}</legend>
  <div class="adv-reminder-messages">
    {{#each messages}}
      <div>{{{this}}}</div>
    {{/each}}
    {{#each sources}}
      <div><i class="{{this.icon}}"></i> {{localize this.prefix}} {{this.labels}}</div>
    {{/each}}
  </div>
</fieldset>
